<% if bookings.any? %>
  <% bookings.each do |booking| %>
    <div class="container my-3">
      <div class="card-booking">
        <% if booking.start_date.to_date == Date.today%>
          <div class="card-booking-infos" style="width: 8%;">
            <p class='text-warning'>Today</p>
          </div>
        <% elsif (booking.start_date.to_date - Date.today).to_i < 5 %>
          <div class="card-booking-infos" style="width: 8%;">
            <p class='text-warning'>In <%= (booking.start_date.to_date - Date.today).to_i %></p>
            <p class='text-warning'><%= (booking.start_date.to_date - Date.today).to_i > 1 ? "days" : "day"  %></p>
          </div>
        <% else %>
          <div class="card-booking-infos" style="width: 8%;">
            <p><%= booking.start_date.strftime("%d") %></p>
            <h2><%= booking.start_date.strftime("%a") %></h2>
          </div>
        <% end %>
        <div class="d-flex justify-content-between" style="border-left: solid 1px lightgrey; width:80%;">
          <div class="card-booking-infos" style="text-align: left; width: 55%;">
            <p><i class="fa-solid fa-calendar-days"></i> <%= booking.start_date.strftime("%Y %b %d") %> - <%= booking.end_date.strftime("%Y %b %d") %></p>
            <p class="mt-2"><i class="fa-solid fa-location-dot"></i> <%= booking.vehicle.location %></p>
          </div>
          <div class="card-booking-infos" style="text-align: left; width: 40%;">
            <h2><%= link_to booking.vehicle.model, vehicle_path(booking.vehicle), class:"text-decoration-none text-secondary" %></h2>
            <p><%= booking.vehicle.brand %></p>
          </div>
          <div class="card-booking-infos" style="text-align: left; width: 25%;">
            <p><i class="fa-solid fa-dollar-sign"></i> <%= number_to_currency(booking.total_price, unit: "", precision:0) %></p>
          </div>
          <div class="card-booking-infos" style="text-align: left; width: 28%;">
            <% if booking.status == "pending" %>
             <p class="text-warning"><i class="fa-solid fa-hourglass-half"></i> <%= booking.status.upcase %></p>
            <% elsif booking.status == "accepted" || booking.status == "done" %>
             <p class="text-success"><i class="fa-solid fa-circle-check"></i> <%= booking.status.upcase %></p>
            <% else %>
             <p class="text-danger"><i class="fa-solid fa-ban"> </i> <%= booking.status.upcase %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container">
    <% if bookings.total_entries > 5 %>
      <%= will_paginate @bookings, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <% end %>
  </div>
<% else %>
<p class="mt-5">Nothing to see yet</p>
<% end %>
