<div class="container">
  <%= form_with url: vehicles_path, method: :get, class: "d-flex align-items-center my-3 gap-2" do %>
    <div>
      <%= select_tag :vehicle_type,
        options_for_select([["", ""]] + Vehicle.vehicle_types.keys.sort.map { |t| [t.capitalize, t] }, params[:vehicle_type]),
        class: "form-select me-2"
    %>
      <%= text_field_tag :brand,
            params[:brand],
            class: "form-control",
            placeholder: "Type a brand..."
      %>
    </div>
    <div>
      <%= text_field_tag :model,
            params[:model],
            class: "form-control",
            placeholder: "Type a model..."
      %>
      <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Type a location..."
      %>
    </div>
    <div data-controller="slider"
          data-slider-min-value="<%= @min_price %>"
          data-slider-max-value="<%= @max_price %>"
          data-slider-current-min-value="<%= @current_min_price %>"
          data-slider-current-max-value="<%= @current_max_price %>"
          class="form-control d-block">
      <div data-slider-target="rangeSlider"></div>
      <span data-slider-target="minValue"></span>
      <span data-slider-target="maxValue"></span>
      <input type="hidden" name="min_price" id="min_price" value="value" data-slider-target="hiddenMinPrice">
      <input type="hidden" name="max_price" id="max_price" value="value" data-slider-target="hiddenMaxPrice">
    </div>
    <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
  <% end %>
  <div class="cards">
    <% @vehicles.each do |vehicle| %>
      <%= render 'shared/small_cards', vehicle: vehicle %>
    <% end %>
  </div>
</div>
<%# t.string "vehicle_type"
t.string "brand"
t.string "model"
t.string "description"
t.string "location"
t.float "price_day" %>
