<div class="container">
  <%= form_with url: vehicles_path, method: :get, class: "search-bar-form" do %>
    <div id="vehicle-type-field" class="search-bar-field">
      <p>Vehicle type</p>
      <%= select_tag :vehicle_type,
              options_for_select([["All", ""]] + Vehicle.vehicle_types.keys.sort.map { |t| [t.capitalize, t] }, params[:vehicle_type]),
              class: "border-0 bg-transparent w-100 form-select"
        %>
    </div>
    <div id="brand-field" class="search-bar-field">
      <p>Brand</p>
      <%= text_field_tag :brand,
              params[:brand],
              class: "border-0 bg-transparent",
              placeholder: "What brand?"
        %>
    </div>
    <div id="model-field" class="search-bar-field">
      <p>Model</p>
      <%= text_field_tag :model,
              params[:model],
              class: "border-0 bg-transparent",
              placeholder: "What model?"
        %>
    </div>
    <div id="location-field" class="search-bar-field">
      <p>Location</p>
      <%= text_field_tag :location,
              params[:location],
              class: "border-0 bg-transparent",
              placeholder: "Where?"
        %>
    </div>
    <div id="price-field" class="search-bar-field"  data-controller="slider"
          data-slider-min-value="<%= @min_price %>" data-slider-max-value="<%= @max_price %>"
          data-slider-current-min-value="<%= @current_min_price %>" data-slider-current-max-value="<%= @current_max_price %>"
          class="d-block">
      <p class="mb-1">Price range</p>
      <div data-slider-target="rangeSlider" id="slider-round"></div>
      <div class="range-values pt-1">
        <span data-slider-target="minValue"></span>
        <span class="px-3">~</span>
        <span data-slider-target="maxValue"></span>
      </div>
      <input type="hidden" name="min_price" id="min_price" value="value" data-slider-target="hiddenMinPrice">
      <input type="hidden" name="max_price" id="max_price" value="value" data-slider-target="hiddenMaxPrice">
    </div>
    <%= button_tag class: "btn btn-primary rounded-circle h-75", type: "submit" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>
  <div class="cards mb-3">
    <% if @vehicles.any? %>
      <% @vehicles.each do |vehicle| %>
        <%= render 'shared/small_cards', vehicle: vehicle %>
      <% end %>
    <% else %>
      <p class="fs-5 mt-3">No vehicle found, try with other filters...</p>
    <% end %>
  </div>
</div>
