<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 ">
      <h2 class="text-center mt-3">Add vehicle to our family</h2>
      <%= simple_form_for @vehicle do |f| %>
        <%= f.input :images, as: :file, input_html: { multiple: true, accept: 'image/*' } %>
        <% @vehicle.images.each do |image| %>
          <%= cl_image_tag image.key %>
        <% end %>
        <%= f.input :vehicle_type, collection: Vehicle.vehicle_types.keys.sort.map { |v| v.capitalize }%>
        <%= f.input :brand%>
        <%= f.input :model%>
        <%= f.input :description%>
        <%= f.input :location%>
        <%= f.input :price_day%>
        <%= f.submit 'Add', class: 'btn btn-primary mt-2'%>
      <%end%>
    </div>
  </div>
</div>
