<div class='container mt-2'>
  <div class='row'>
    <div class="col-12 col-md-7">
      <div class="card-vehicle">
        <% if @vehicle.images.attached? %>
          <%= image_tag @vehicle.images.first %>
        <% end %>
        <div class="card-vehicle-info">
          <div>
            <h2><%= @vehicle.brand + ' ' + @vehicle.model %></h2>
            <h3><%= @vehicle.location %></h3>
            <p><%= @vehicle.description %></p>
          </div>
          <h4 class="card-vehicle-price">$<%= number_with_delimiter(@vehicle.price_day.round) %> / day</h4>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <% if @vehicle.images.attached? %>
        <div class="vehicle-images mb-2" data-controller="lightbox" id="fixed-size">
          <% @vehicle.images.drop(1).each do |image| %>
          <a href="<%=cl_image_path image.key%>">
            <%= cl_image_tag image.key, class: 'vehicle-image' %></a>
          <% end %>
        </div>
      <% else %>
        <p>No images available for this vehicle.</p>
      <% end %>
      <%= render 'vehicles/booking_form', vehicle: @vehicle, booking: @booking %>
    </div>
  </div>
</div>
