<div class='container mt-2'>
  <div class='row mt-3'>
    <div class="col-12 col-md-7">
      <div class="card-vehicle">
        <% if @vehicle.images.attached? %>
          <%= image_tag @vehicle.images.first %>
        <% end %>
        <div class="card-vehicle-info">
          <div>
            <h2><%= @vehicle.brand + ' ' + @vehicle.model %></h2>
            <h3><%= @vehicle.location %></h3>
            <p><%= @vehicle.description %></p>
          </div>
          <h4 class="card-vehicle-price">$<%= number_with_delimiter(@vehicle.price_day.round) %> / day</h4>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <% if @vehicle.images.attached? %>
        <div class="vehicle-images mb-2">
          <% @vehicle.images.drop(1).each do |image| %>
            <%= cl_image_tag image.key, class: 'vehicle-image' %>
          <% end %>
        </div>
      <% else %>
        <p>No images available for this vehicle.</p>
      <% end %>
      <%= render 'vehicles/booking_form', vehicle: @vehicle, booking: @booking %>
    </div>
  </div>
  <div class="my-3">
    <h2>Reviews</h2>
    <div class="reviews mt-3">
      <% if @reviews.any? %>
        <% @reviews.each do |review| %>
          <%= render 'reviews', review: review %>
        <% end %>
      <% else %>
        <p>No reviews yet</p>
      <% end %>
    </div>
  </div>
</div>
