<div class='container'>
  <div class='row'>
    <div class="col-12 col-md-7">
      <div class="card-vehicle">
        <% if @vehicle.images.attached? %>
          <%= image_tag @vehicle.images.first %>
        <% end %>
        <div class="card-vehicle-info">
          <div>
            <h2><%= @vehicle.brand + ' ' + @vehicle.model %></h2>
            <h3><%= @vehicle.location %></h3>
            <p><%= @vehicle.description %></p>
          </div>
          <h4 class="card-vehicle-price">$<%= number_with_delimiter(@vehicle.price_day.round) %> / day</h4>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-5">
      <% if @vehicle.images.attached? %>
        <div class="vehicle-images mb-2">
          <% @vehicle.images.drop(1).each do |image| %>
            <%= cl_image_tag image.key, class: 'vehicle-image' %>
          <% end %>
        </div>
      <% else %>
        <p>No images available for this vehicle.</p>
      <% end %>
      <div class='col-12 col-md-12 mt-4'>
        <h3>Book this vehicle</h3>
        <%= simple_form_for [@vehicle, @booking] do |f| %>
          <%= f.input :start_date, label: 'From', html5: true, input_html: { data: { controller: 'datepicker' }, value: Date.today + 1 } %>
          <%= f.input :end_date, label: 'To', html5: true, input_html: { data: { controller: 'datepicker' }, value: Date.today + 8 } %>
          <%= f.button :submit, 'Request booking', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
